.transction {
    background: #1D1D41;
    border-radius: 20px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 0;

    .transctionContainer {

        width: 90%;

        display: flex;
        flex-direction: column;
        gap: 40px;
        .transctionTop {
            display: flex;
            width: 100%;
            // justify-content: space-between;
            gap: 39px;

            .logo {
                width: 25.56%;
                font-weight: 600;
                font-size: 20.8067px;
                line-height: 28px;
                text-transform: capitalize;
                color: #FFFFFF;
                height: 38px;
            }

            .inputContainer {
                display: flex;
                width: 74.44%;

                .transctionSearchContainer {

                    width: 45.698%;
                    position: relative;
                    height: 38px;

                    .search {
                        width: 100%;
                        background: #27264E;
                        border-radius: 8.66947px;
                        border: none;
                        height: 38px;
                        outline: none;
                        text-indent: 13px;
                        color: #AEABD8;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;

                        &::placeholder {
                            color: #AEABD8;
                        }
                    }

                    .searchIcon {
                        position: absolute;
                        top: 6.6px;
                        right: 10.93px;
                        width: 14px;
                        height: 26px;
                        color: #AEABD8;
                        cursor: pointer;
                    }
                }

                .dateContainer {
                    width: 35.931%;
                    height: 38px;

                    .date {
                        width: 50%;


                        &::-webkit-inner-spin-button {
                            display: none;
                        }

                        &::-webkit-calendar-picker-indicator {
                            display: none;
                        }
                    }

                    .dateIcon {
                        width: 40%;
                    }
                }
            }
        }

        .transctionBottom {


            .transctionBottomTable {
                width: 100%;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 12.1373px;
                line-height: 16px;

                .tableTop {

                    .tableTopList {
                        color: #AEABD8;

                        &:nth-child(2) {
                            columns: 2;
                        }

                        &:nth-child(3) {
                            columns: 2;
                        }

                    }
                }

                .tableBottom {
                    color: white;
                    font-weight: 400;
                    font-size: 13.8711px;
                    line-height: 19px;
                    // padding-top: 10px;
                    //

                    .tableBottomList {
                        &:first-child {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            margin-top: 15px;
                            display: block;
                        }

                        .imgCont {
                            padding: 10px;
                            display: inline-block;
                            width: 37.5px;
                            height: 37.5px;
                            border-radius: 50%;
                            background-color: #fff;

                            .listImg {

                                width: 100%;
                                height: 100%;

                            }
                        }
                    }
                }
            }
        }
    }
}